#if($tableInfo.obj.name.startsWith("uc_"))
    #set($tableInfo.name=${tableInfo.name.substring(2)})
#end

#set($tableNameLower=$tool.firstLowerCase($tableInfo.name))

#set($commonSrcFolder="${projectPath}/src/main/java")

#set($author="wangfei")
#set($javamodelSrcFolder="${projectPath}/src/main/java")
#set($mypackage="com.wbtech.user.broker")

#set($modelPackageName="com.wbtech.user.entity")
#set($repositorySrcFolder="${projectPath}/src/main/java")
#set($repositoryPackageName="${mypackage}.repository")
#set($repositoryImplPackageName="${mypackage}.repository.impl")
#set($serviceSrcFolder="${projectPath}/src/main/java")
#set($servicePackageName="${mypackage}.service")
#set($serviceImplPackageName="${mypackage}.service.impl")
#set($crudPackageName="${mypackage}.crud")
#set($crudImplPackageName="${mypackage}.crud.impl")
#set($dtoSrcFolder="${projectPath}/src/main/java")
#set($dtoPackageName="${mypackage}.dto")
#set($mapperSrcFolder="${projectPath}/src/main/java")
#set($mapperPackageName="${mypackage}.mapper")
#set($controllerSrcFolder="${projectPath}/src/main/java")
#set($controllerPackageName="${mypackage}.controller")

#set($voPackageName="${mypackage}.vo.${tableNameLower}")

#set($useLombok=true)
#set($useJarkataAnntation=false)
#set($useSwagger=false)
#set($useOpenApi=false)
#set($useMapStruct=true)
#set($entityName=$tool.append($tableInfo.name,"Entity"))
#set($entityNameLower=$tool.firstLowerCase($entityName))
#set($repositoryClassName=$tool.append($tableInfo.name,"Repository"))
#set($iRepositoryClassName=$tool.append("I",$tableInfo.name,"Repository"))
#set($repositoryImplClassName=$tool.append($tableInfo.name,"RepositoryImpl"))
#set($serviceClassName=$tool.append($tableInfo.name,"Service"))
#set($serviceImplClassName=$tool.append($tableInfo.name,"ServiceImpl"))
#set($crudClassName=$tool.append($tableInfo.name,"Crud"))
#set($crudImplClassName=$tool.append($tableInfo.name,"CrudImpl"))
#set($dtoClassName=$tool.append($tableInfo.name,"Dto"))
#set($mapperClassName=$tool.append($tableInfo.name,"Mapper"))
#set($controllerClassName=$tool.append($tableInfo.name,"Controller"))
#set($voClassName=$tool.append($tableInfo.name,"Vo"))
#set($queryDtoClassName=$tool.append($tableInfo.name,"QueryVo"))


#set($queryDtoClassNamelower= "queryVo")



#set($pkName=$tableInfo.pkColumn.get(0).name)
#set($pkType=$tableInfo.pkColumn.get(0).shortType)


